# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main-quick-check-16-bits-chunks-debug
main-quick-check-16-bits-chunks-release
main-quick-check-32-bits-chunks-debug
main-quick-check-32-bits-chunks-release
main-quick-check-64-bits-chunks-debug
main-quick-check-64-bits-chunks-release
main-quick-check-8-bits-chunks-debug
main-quick-check-8-bits-chunks-release
main-demo-16-bits-chunks-debug
main-demo-16-bits-chunks-release
main-demo-32-bits-chunks-debug
main-demo-32-bits-chunks-release
main-demo-64-bits-chunks-debug
main-demo-64-bits-chunks-release
main-demo-8-bits-chunks-debug
main-demo-8-bits-chunks-release
main-exhaustive-check-8-bits-chunks-debug
pathological-case of-naive-division-16-bits-chunks-debug
pathological-case of-naive-division-16-bits-chunks-release
pathological-case of-naive-division-32-bits-chunks-debug
pathological-case of-naive-division-32-bits-chunks-release
pathological-case of-naive-division-64-bits-chunks-debug
pathological-case of-naive-division-64-bits-chunks-release
pathological-case of-naive-division-8-bits-chunks-debug
pathological-case of-naive-division-8-bits-chunks-release
main-exhaustive-check-16-bits-chunks-debug
